.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
/*   background-color: #f00; */
}
.content {
  text-transform: uppercase;
  text-align: center;
/*   background-color: #00f; */
}
.js_green {
  color: #0a0;
  font-size: 45px;
}